@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Shabnam';
  src: url('/fonts/shabnam.woff2');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 40, 45, 55;
  }

  .quill .ql-toolbar {
    border-bottom: 1px solid #445 !important;
  }

  .quill .ql-container {
    color: #445;
    font-family: 'Shabnam';
  }

  .quill .ql-tooltip input {
    background-color: #ebebeb;
  }
}

body {
  direction: rtl;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.h-unset {
  height: unset;
}

.quill {
  direction: ltr;
}

svg {
  margin: auto;
}

@layer base {
  body {
    @apply font-shabnam;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .rtl_direction {
    direction: rtl;
  }

  .ltr_direction {
    direction: ltr;
  }

  .item {
    @apply flex flex-col w-auto p-2 items-center rounded-md border border-transparent hover:border-gray-300;
  }
}
